파이썬 람다함수

### 일반 람다 함수들

In [1]:
cast_to_int = lambda x: int(x)

print(cast_to_int("5"))

5

In [3]:
square = lambda x: x*x

print(square(10))

100

In [2]:
# filter function is applied to each element of the iterable and
# if it returns True, the element is selected by the filter() function.
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

# even number filter
new_list = list(filter(lambda x: (x%2 == 0), my_list))
print(new_list)

[4, 6, 8, 12]

In [4]:
# 리스트의 값을 제곱해주기
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * x , my_list))

print(new_list)

[1, 25, 16, 36, 64, 121, 9, 144]

### 판다스에서 람다함수

In [5]:
import pandas as pd

# 2차원 배열
my_list = [[1.5, 2.5, 10.0], [2.0, 4.5, 5.0], [2.5, 5.2, 8.0],
            [4.5, 5.8, 4.8], [4.0, 6.3, 70], [4.1, 6.4, 9.0],
            [5.1, 2.3, 11.1]]

# 데이터 프레임 생성
df = pd.DataFrame(
    my_list,
    columns=['f1', 'f2', 'f3'],
    index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [6]:
df.head(10)

    f1   f2    f3
a  1.5  2.5  10.0
b  2.0  4.5   5.0
c  2.5  5.2   8.0
d  4.5  5.8   4.8
e  4.0  6.3  70.0
f  4.1  6.4   9.0
g  5.1  2.3  11.1

In [7]:
# 인덱스의 이름이 a와 b인 경우에는 값을 제곱해보기
# axis = 1 -> row, 0 -> column
df = df.apply(lambda x: x*x if x.name in ['a', 'b'] else x, axis=1)

df

     f1     f2     f3
a  2.25   6.25  100.0
b  4.00  20.25   25.0
c  2.50   5.20    8.0
d  4.50   5.80    4.8
e  4.00   6.30   70.0
f  4.10   6.40    9.0
g  5.10   2.30   11.1

In [8]:
# product라는 이름의 새로운 필드를 만들고 f1, f2, f3의 값을 곱해서 채우기
df = df.assign(Product=lambda x: (x['f1'] * x['f2'] * x['f3']))

df

     f1     f2     f3   Product
a  2.25   6.25  100.0  1406.250
b  4.00  20.25   25.0  2025.000
c  2.50   5.20    8.0   104.000
d  4.50   5.80    4.8   125.280
e  4.00   6.30   70.0  1764.000
f  4.10   6.40    9.0   236.160
g  5.10   2.30   11.1   130.203